* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(238, 217, 30);
    font-family: Arial, Helvetica, sans-serif;
}

header h1, h2{
    text-align: center;
    padding: 10px;
    margin: 10px;
}